body{
    font-family: Cambria;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
header{
    background-color: #829EB9;
    color: white;
    text-align: center;
    padding: 10px;
}
footer{
    background-color: #829EB9;
    color: white;
    text-align: center;
    padding: 10px;
}
div{
    float: left;
}
.lewy{
    background-color: #B3C6D9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
}
.srodek{
    width: 50%;
    text-align: center;
    background-color:  #E0E9F1;
    height: 400px;
    padding-top: 100px;
}
.prawy{
    background-color: #B3C6D9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
}
table{
    border: solid 1px dimgray;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
th,td{
    border: solid 1px dimgray;
    margin: auto;
    border-collapse: collapse;
}
td:hover, td:hover{
    background-color: steelblue;
    color: white;
}
img{
    width: 100%;
    border-radius: 20px;
}